{% unless current_collection %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% if bold_compare_at_price > bold_price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% assign image_size = settings.collection_prod_image_sizes %}

<div class="grid-item{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %} product-grid-item">
    <div class="grid">
      <div class="grid-item large--one-sixth medium--one-third small--one-third">
        <a href="{{ product.url | within: current_collection }}">
          <img src="{{ product.featured_image.src | img_url: small }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
      </div>
      <div class="grid-item large--three-sixths medium--two-thirds small--two-thirds">
        <a href="{{ product.url | within: current_collection }}">
        <h2>{{ product.title }}</h2>
        </a>
        {% assign index = 0 %}
        {% for option in product.options %}
          {% if option == 'Size' %}
            {% assign index = forloop.index %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="grid-item large--two-sixths medium--two-thirds small--two-thirds">
        <div class="product-item--price text-right">

          <h2 class="medium-down--left">
            {% if bold_price_max != bold_price_min %}
            {% include 'regular-price' with bold_price_min %} - {% include 'regular-price' with bold_price_max %}
            {% else %}
            {% include 'regular-price' with bold_price %}
            {% endif %}
            {% if on_sale and settings.product_show_compare_at_price %}
              <s>{% include 'regular-price' with bold_compare_at_price %}</s>
            {% endif %}
          </h2>

          {% if on_sale and settings.product_show_saved_amount %}
          <span class="sale-tag medium-down--right{% if settings.product_reviews_enable %} has-reviews{% endif %}">
            {% assign compare_price = bold_compare_at_price %}
            {% assign product_price = bold_price %}
            {% include 'price-sale' %}
          </span>
          {% endif %}

          {% if settings.product_reviews_enable %}
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% endif %}
        </div>
      </div>
      <div class="grid-item large--three-sixths medium--two-thirds small--two-thirds">
        {% assign firstOption = product.options | first %}
        <a href="#" class="show-variants" data-id="{{ product.id }}">
        {% if index != 0 %}
          {% assign variant_count = product.variants | size %}
          
          {% assign optionName = 'option' | append: index %}
          {% assign smallestSize = product.variants | first | map: optionName %}
          {% assign largestSize = product.variants | last | map: optionName %}

          {% if smallestSize != largestSize %}
            Sizes: {{smallestSize}} - {{largestSize}}
          {% else %}
            Size: {{smallestSize}}
          {% endif %}
        {% else %}
          Quick Add
        {% endif %}
          <span class="icon icon-arrow-down" aria-hidden="true">
        </a>
      </div>
      <div class="grid-item large--five-sixths variants" data-id="{{product.id}}">
        <table>
        {% for variant in product.variants %}
          {% unless variant.metafields.shappify_qb.qb_hide == "1" %}   
            {% if variant.available %}
            <tr>
              <td class="image">
                <a href="{{ variant.url | within: collection }}">
                  {% assign thumbnailImage = variant.image | default: product.featured_image %}
                  <img src="{{ thumbnailImage.src | product_img_url: 'thumb' }}" />
                </a>
              </td>
              <td class="title">
                <a href="{{ variant.url | within: collection }}">
                  <h2>
                    {% if variant.title contains 'Default' or variant.title contains '1+' %}
                      &nbsp;
                    {% else %}
                      {{ variant.title }}
                    {% endif %}
                  </h2>
                </a>
              </td>
              <td class="price">
                  <a href="{{ variant.url | within: collection }}">
                    <h2>{{ variant.price | money }}</h2>
                    <span class="discount">  
                      {% assign hasDiscount = false %}
                      {% for discountVariant in product.variants %}
                      {% if discountVariant.metafields.shappify_qb.qb_parent == variant.id %}
                        {{ discountVariant.metafields.shappify_qb.qb_qty }} at {{ discountVariant.price | money }} ea
                        {% assign hasDiscount = true %}
                        {% break %}
                      {% endif %}
                      {% endfor %}
                      {% if hasDiscount != true %}
                        &nbsp;
                      {% endif %}
                    </span>
                  </a>
              </td>
              <td class="quantity">
                <input 
                  onfocus="this.select()" 
                  class="quantity field" 
                  data-id="{{ variant.id }}" 
                  min="1"
                  max="999"
                  type="number" 
                  value="1" 
                  tabindex="1" /> 
              </td>
              <td class="add-to-cart">
                <button class="btn" data-id="{{ variant.id }}">
                  <span id="addToCartText">Add to Cart</span>
                </button>
              </td>
            </tr>
            {% endif %}
          {% endunless %}
        {% endfor %}
        </table>
      </div>
    </div>
  </a>
</div>
