{% paginate collection.products by 100 %}

{% include 'breadcrumb' %}
{% assign has_sidebar = false %}
{% if collection.all_tags.size > 0 %}
  {% assign has_sidebar = true %}
{% endif %}

<div class="collection-order-form grid grid-border">

  {% if has_sidebar %}
  <div class="grid-item large--one-fifth collection-filters" id="collectionFilters">
    {% include 'collection-sidebar' %}
  </div>
  {% endif %}

  <div class="grid-item{% if has_sidebar %} large--four-fifths grid-border--left{% endif %}">

    {% if collection.description != blank %}
      <header class="section-header">
        <h1 class="section-header--title">{{ collection.title }}</h1>
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
      </header>
      <hr{% if has_sidebar %} class="hr--offset-left"{% endif %}>
      <div class="section-header">
        <div class="section-header--right">
          {% include 'collection-sorting' %}
          {% include 'collection-views' %}
          {% include 'toggle-filters' %}
        </div>
      </div>
    {% else %}
    <header class="section-header">
      <h1 class="section-header--title section-header--left">{{ collection.title }}</h1>
      <div class="section-header--right">
        {% include 'collection-sorting' %}
        {% include 'collection-views' %}
        {% include 'toggle-filters' %}
      </div>
    </header>
    {% endif %}

    <button type="submit" name="add" class="btn submit-order-form" tabindex="1">
      <span class="icon icon-cart"></span>
      <span id="addToCartText">{{ 'products.product.add_to_cart' | t }}</span>
    </button>
    {% if collection.products_count > 0 %} 
    <table>
      <tbody>
      {% for product in collection.products %}
        {% include 'bold-set-prices' with product %}
        {% if product.available %}
          {% for variant in product.variants %}
            {% unless variant.metafields.shappify_qb.qb_hide == "1" %}   
            {% if variant.available %}
            <tr>
              <td class="image">
                <a href="{{ variant.url | within: collection }}">
                  {% assign thumbnailImage = variant.image | default: product.featured_image %}
                  <img src="{{ thumbnailImage.src | product_img_url: 'small' }}" />
                </a>
              </td>
              <td class="title">
                <a href="{{ variant.url | within: collection }}">
                  <h2>
                    {{ product.title }}{% unless variant.title contains 'Default' or variant.title contains '1+' %} - {{ variant.title }}
                    {% endunless %}
                  </h2>
                </a>
              </td>
              <td class="price">
                  <a href="{{ variant.url | within: collection }}">
                    <h2>{{ variant.price | money }}</h2>
                    <span class="discount">  
                      {% assign hasDiscount = false %}
                      {% for discountVariant in product.variants %}
                      {% if discountVariant.metafields.shappify_qb.qb_parent == variant.id %}
                        {{ discountVariant.metafields.shappify_qb.qb_qty }} at {{ discountVariant.price | money }} ea
                        {% assign hasDiscount = true %}
                        {% break %}
                      {% endif %}
                      {% endfor %}
                      {% if hasDiscount != true %}
                        &nbsp;
                      {% endif %}
                    </span>
                  </a>
              </td>
              <td class="quantity">
                <input 
                  onfocus="this.select()" 
                  class="quantity field" 
                  data-id="{{ variant.id }}" 
                  min="0"
                  max="999"
                  type="number" 
                  value="0" 
                  tabindex="1" />
              </td>
            </tr>
            {% endif %}
            {% endunless %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      </tbody>
    </table>

    <div class="section-footer">  
        <button type="submit" name="add" class="btn submit-order-form" tabindex="1" >
          <span class="icon icon-cart"></span>
          <span id="addToCartText">{{ 'products.product.add_to_cart' | t }}</span>
        </button>
    </div>

    {% else %}
    <p>There are no products in this view.</p>
    {% endif %}
  </div>
</div>

{% endpaginate %}

{% if collection.products_count > 0 %}
<script>
Shopify.itemsToAdd = [];
Shopify.addItemstoTheCart = function() {
  if (Shopify.itemsToAdd.length) {
    var item = Shopify.itemsToAdd.pop();
    $.ajax({
      url: '/cart/add',
      dataType: 'json',
      type: 'post',
      data: item,
      success: Shopify.addItemstoTheCart,
      error: Shopify.addItemstoTheCart
    });
  }
  else {
    window.location.href = '/cart';
  }
};
jQuery(function($) {
  $('table .quantity:first').focus();
  $('.submit-order-form').click(function() {
    $('.add-to-cart-order-form').addClass('disabled').attr('disabled','disabled');
    // Resetting.
    Shopify.itemsToAdd = [];
    $('.quantity').each(function() {
      var quantity = parseInt($(this).val(), 10);
      if (quantity) {
        Shopify.itemsToAdd.push( { id: $(this).attr('data-id'), quantity: quantity } );
      }
    });     
    if (Shopify.itemsToAdd.length) {
      Shopify.addItemstoTheCart();
    }
    else {
      alert('All quantities are set to zero.');
      $('.add-to-cart-order-form').removeAttr('disabled').removeClass('disabled');
    }
  });
});
</script>
{% endif %}
  